<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link ref="stylsheet" type="text/css" href="/public/styles/style.css">
    <title>HAPPY BIRTHDAY LAURA</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><img></li>
                <li>Wishes</li>
                <li>Wishers</li>
            </ul>
        </nav>
        <section>
            {{{ body }}}
        </section>
        <footer>
            <p>Made with ♥ by <a href="www.github.com/avaiva">avaiva</a></p>
        </footer>
    </main>
    
</body>
</html>